<% @locations.each do |loc| %>
  <div class="favorite-location-<%= loc.id %>">
    <a href="<%= loc.link_path %>">
      <%= loc.page_title %>
    </a>
    <%= link_to 'Edit', { :controller => 'favorite_locations', :action => :edit, :id => loc.id }, :remote => true, :'data-target' => ".favorite-location-#{loc.id}", 'data-insertion' => 'html' %>
    <%= link_to 'Delete', { :controller => 'favorite_locations', :action => :destroy, :id => loc.id }, :method => :delete, :remote => true, :'data-target' => ".favorite-location-#{loc.id}", :'data-insertion' => 'remove' %>
  </div>
<% end %>
