<h2>Favorite Project Locations</h2>
<% @locations.each do |loc| %>
  <p>Project: <%= loc.project.name %></p>
  <p>Link location: <%= loc.link_location %></p>
  <p>Link text: <%= loc.link_text %></p>
  <p>
    <%= link_to 'Edit', :controller => 'favorite_locations', :action => :edit, :id => loc.id %>
    <%= link_to 'Delete', { :controller => 'favorite_locations', :action => :destroy, :id => loc.id }, { :method => :delete } %>
  </p>
<% end %>

<p><%= link_to 'New Location', :controller => 'favorite_locations', :action => :new %></p>
